<ion-content>

<div class="mainSelect" *ngIf="this.showChat == false">
    <div class="container">
        <div class="sala-4a-btn" (click)="this.cargarSala('chats_4a')">
          <img class="imagen-boton" src="/assets/images/4a.png">
        </div>
        <div class="sala-4b-btn" (click)="this.cargarSala('chats_4b')">
          <img class="imagen-boton" src="/assets/images/4b.png">
        </div>
    </div>
</div>

  <div *ngIf="this.showChat == true" class="all">
    <h1>Sala de Chat</h1>
    <div class="chat-window">
      <div class="app-mensajes" id="chat-mensajes">
        <div *ngFor="let chat of firebaseService.chats"
          [ngClass]="{
            'text-end': firebaseService.usuario.uid == chat.uid,
            'text-start': firebaseService.usuario.uid != chat.uid
          }"
          class="chat-message">
          <span class="badge"
            [ngClass]="{
              'alert-success': firebaseService.usuario.uid == chat.uid,
              'alert-danger': firebaseService.usuario.uid != chat.uid
            }">
            <strong *ngIf="firebaseService.usuario.uid != chat.uid">{{chat.nombre}}</strong>
          </span>
          <br>
          <i>{{chat.fecha}}</i>
          <p class="chat-text">{{chat.mensaje}}</p>
        </div>
      </div>
      <ion-input label="⌛Mensaje..." 
      labelPlacement="floating" 
      [counter]="true" 
      maxlength="21"
      [(ngModel)]="mensaje"
      (keyup.enter)="enviarMensaje()"
      >
    </ion-input>
      <br>
    </div>
  </div>
</ion-content>

<div *ngIf="showSpinner" class="custom-spinner">
  <img src="/assets/images/icon.png"/>
</div>